.error-body {
    padding-top: 5%;
}
.error-box {
    right: 0;
    height: 100%;
    position: fixed;
    background: url(../../../assets/img/error-bg.jpg) no-repeat center center #fff;
    width: 100%;
}
.error-body h1 {
    font-size: 210px;
    font-weight: 900;
    line-height: 210px;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px;
}
